{% extends "layouts/app.twig" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex;justify-content: space-between;">
                            {% if not authenticated %}
                                <a href="/login" class="btn btn-primary">
                                    Авторизация
                                </a>
                            {% else %}
                                <form action="/logout" method="post">
                                    <button type="submit" class="btn btn-danger"
                                            onclick="return confirm('Вы уверены?');">
                                        Выйти
                                    </button>
                                </form>
                            {% endif %}

                            <a href="/tasks/create" class="btn btn-success">
                                Создать
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/" method="get">
                            <div>
                                <label for="name">Фильтр по имени</label>
                                <select name="name" id="name" class="form-control mb-2">
                                    <option value=""></option>
                                    <option value="desc">desc</option>
                                    <option value="asc">asc</option>
                                </select>
                            </div>
                            <div>
                                <label for="email">Фильтр по почте</label>
                                <select name="email" id="email" class="form-control mb-2">
                                    <option value=""></option>
                                    <option value="desc">desc</option>
                                    <option value="asc">asc</option>
                                </select>
                            </div>
                            <div>
                                <label for="status">Фильтр по статусу</label>
                                <select name="status" id="status" class="form-control mb-2">
                                    <option value=""></option>
                                    <option value="desc">desc</option>
                                    <option value="asc">asc</option>
                                </select>
                            </div>
                            <button class="btn btn-primary">Фильтр</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Почта</th>
                                    <th scope="col">Задача</th>
                                    <th scope="col">Статус</th>
                                    {% if authenticated %}
                                        <th scope="col">Действия</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in tasks %}
                                    <tr>
                                        <th scope="row">{{ task.id }}</th>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.email }}</td>
                                        <td>{{ task.text }}</td>
                                        <td>
                                            {% if task.status == 0 %}
                                                В процессе
                                            {% else %}
                                                Сделано
                                            {% endif %}
                                        </td>
                                        {% if authenticated %}
                                            <td>
                                                <a href="/tasks/{{ task.id }}/edit" class="btn btn-primary">
                                                    Ред-ть
                                                </a>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if pagesCount != 0 %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% for page in range(1, pagesCount) %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="/?page={{ page }}{% if queries %}&{{ queries }}{% endif %}">
                                                {{ page }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
